/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/

















/* MY CODE GRID LAYOUT*/

:root {
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body a{
	color: #00AEEF;
	background-color: white;
	

}
body {
	color: #00AEEF;
	background-color: white; 
}


button{
	color: #00AEEF;
	border-radius: 10px;
	
}


button:hover{
	background: #00AEEF;
	color: white;
}

/* -------------------- */



/* --------- NAVIGATION ----------- */
.navigation-container{
	width: 100%;	
	display: grid;
	grid-template-columns: repeat(5,1fr);
	
}


.navigation-container a {
	width: 64%;
	display: table-cell;
 	text-decoration: none;
 	padding: 3rem;
  	text-align: center; 
  	text-transform: uppercase;
    font-family: Arial;
  	font-size: 1.1rem;
	border: 3px solid #00AEEF;
}

.navigation-container nav{
  	text-align: center; 
	display: table-cell;
	border-left: 3px solid #00AEEF;
	border-top:  3px solid #00AEEF;
	border-bottom:  3px solid #00AEEF;
}



/* --------- HOME ----------- */

.home-container{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	border-left: 3px solid #00AEEF;
	border-right:  3px solid #00AEEF;
	border-bottom:  3px solid #00AEEF;

	

}

.home-container p{
	margin-top: 20px;
	text-align: center;
	display: grid;
	text-align: center;
	text-transform: uppercase;
}
.home-container button{
	margin-top: 170px;
	margin-left: 40%;
	font-size: 18px;
	text-transform: uppercase;

}

.home-container nav{
	text-align: center;
	border-left: 3px solid #00AEEF;
}

/* --------- TEAM ----------- */

.team-container{
	width: 90%;
	margin-left: 50px;

	grid-template-columns: repeat(3,1fr);
	border-color: 2px solid #000;
	display: inline-grid;

}

.team-container div{
	text-align: center;
	margin-left: 20px;
}

/* --------- ABOUT ----------- */

.about-container{
	width: 90%;
	margin-top: 50px;
	margin: 50px;
	margin-left: 55px;	
	grid-template-columns: repeat(4,1fr);
	display: inline-grid;
}

.about-container div{
	text-align: center;
	margin-left: 15px;

}

/* --------- CONTACT ----------- */

.contact-container{
	margin-top: 50px;
	width: 100%;
	grid-template-columns: repeat(1,1fr);
	display: inline-grid;
	text-align: center;
	border: 3px solid #00AEEF;
}

.contact-container p{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
}




/* CERC SI PATRAT*/



.dot {
  margin-top: 50px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 3px solid #00AEEF;
  display: inline-block;
  margin-left: 20px;

}

.patrat {
	margin-top: 50px;
	height: 200px;
	width: 260px;
	border-radius: 15%;
	border: 3px solid #00AEEF;
	display: inline-grid;
}

#first-cerc span:hover {
	background-color:#00AEEF;
}
#second-cerc span:hover{
	background-color:#0000FF;
}
#third-cerc span:hover{
	background-color:#FF00FF;
}
.about-container  span:hover{
	background-color: #00AEEF;
	text-decoration-color: white;
}








